@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000000;
  --grey: #292929;
  --white: #ffffff;
  --accent1: #fe6401;
  --accent2: #eb0106;
  --accent-grad: linear-gradient(#fe6401, #eb0106);
  --accent-grad2: linear-gradient(90deg, #fe6401, #eb0106);
  --text: hsla(0, 0%, 100%, 0.712);
  --unit: 20px;
  --max-width: 1200px;
  --trans: all 0.4s ease-in-out;
  --trans-spring: all 0.8s cubic-bezier(0.2, 1, 0.3, 1);
  --shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

*::before,
*::after,
* {
  // border: 1px solid red;
  box-sizing: border-box;
  margin: 0px;
  // font-family: "Inter", sans-serif;

  color: var(--white);
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat+Subrayada:wght@400;700&family=Noto+Sans+Warang+Citi&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat+Subrayada:wght@400;700&family=Noto+Sans+Warang+Citi&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  background: var(--black);
  
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  cursor: none !important;
  overflow-x: hidden;
}

.side-image {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 300px;
  aspect-ratio: 1;
  filter: opacity(0.5);
}

.left-side-image {
  left: 0;
  top: 10%;
  // background: url("../public/assets/bg-orange.png") !important;
  background-size: contain !important;
  background-position: center left !important;
  background-repeat: no-repeat !important;
}

.right-side-image {
  right: 0;
  // background-image: url("../public/assets/bg-red.png") !important;
  background-size: contain !important;
  background-position: center left !important;
  background-repeat: no-repeat !important;
}

.content {
  position: relative;
  z-index: 1;
}

a {
  text-decoration: none;
}

.parent {
  width: 100%;

  .cont {
    max-width: var(--max-width);
    margin: auto;
    padding: 0px 10px;
    height: 100%;
  }
}

.glass {
  backdrop-filter: blur(5px);
  background: rgba(148, 148, 148, 0.137);
  border: 1px solid rgba(255, 255, 255, 0.356);
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  // font-family: "Inter", sans-serif;
  font-family: "Lora", serif ;
  line-height: 60%;
  font-weight: 900;
  font-size: 40px;
  max-width: 60ch;
  // text-transform: capitalize;

  span {
    font-size: inherit;
    font-weight: inherit;
    color: var(--accent1);
    line-height: inherit;
  }
}

h1 {
  font-size: 3rem;
}

h6 {
  font-size: 23px !important;
}

p,
span,
.para {
  letter-spacing: 1px;
  font-size: 1.2rem;
  line-height: 140%;
  word-spacing: 2px;
  line-break: loose;
  font-weight: 200;
  // max-width: 60ch;
  opacity: 0.9;
}

/* From Uiverse.io by cssbuttons-io */
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 18rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: var(--accent-grad);
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  margin: auto;
  background: var(--accent-grad);
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  // color: #282936;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: var(--white);
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}

.bg-img-contain {
  background-size: contain !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.bg-img-cover {
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.btn1 {
  padding: 10px 20px;
  background-image: linear-gradient(to right, var(--accent2), var(--accent1));
  border-radius: calc(var(--unit) * 2);
  width: fit-content;
}

@media only screen and (max-width: 390px) {
  .btn1 {
    font-size: 10px !important;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.transition {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: var(--accent1);
  z-index: 100000;
  animation: swipe 0.5s linear forwards;

  @keyframes swipe {
    to {
      width: 0px;
      opacity: 0;
    }
  }
}

.t2 {
  animation-delay: 0.05s !important;
  background: var(--accent2) !important;
  z-index: 10000 !important;
}
.t3 {
  animation-delay: 0.1s !important;
  background: var(--black) !important;
  z-index: 1000 !important;
}
.t4 {
  animation-delay: 0.15s !important;
  background: var(--accent1) !important;
  z-index: 100 !important;
}

.gradient-text {
  background: linear-gradient(to right, var(--accent1), var(--accent2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.video-laptop {
  display: block !important;
}
.video-mobile {
  display: none !important;
}

@media (max-width: 450px) {
  .video-laptop {
    display: none !important;
  }
  .video-mobile {
    display: block !important;
  }


  .swiper-pagination-bullet {
    background: gray;
    opacity: 1 !important;
    width: 20px ;
    height: 3px !important;
    border-radius: 0px !important;
    &.swiper-pagination-bullet-active {
      background: var(--accent-grad) !important;
    }
  }
}

.swiper-pagination-bullet {
  background: gray;
  opacity: 1 !important;
  width: 50px ;
  height: 3px !important;
  border-radius: 0px !important;
  &.swiper-pagination-bullet-active {
    background: var(--accent-grad) !important;
  }
}
.swiper-pagination {
  .swiper-pagination-bullet {
    background: white;
    width: 20px;
    height: 20px;
    margin-top: 100px;

    &.swiper-pagination-bullet-active {
      background: var(--accent-grad) !important;
    }
  }
}



.bug-title-fix 
{
  font-size: 28px !important;
}





// case study


.case-study-page {
  width: 100%;
  height: auto;
  padding-top: 80px;

  .case-study-page-cont {
    height: 100%;
    padding: calc(var(--unit) * 2) calc(var(--unit) / 2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: calc(var(--unit));

    .case-heading {
      line-height: 120%;
    }

    .case-para {
      max-width: 80ch;
    }
  }
}

.case-study-second {
  width: 100%;
  height: 100%;
  padding: calc(var(--unit) * 3) 10px;

  .case-study-second-cont {
    height: 500px;
    width: 100%;
    // background:url("../../public/assets/casestudy/img1.jpg");
    border-radius: var(--unit);
  }
}

.case-study-third {
  height: auto;
  padding: calc(var(--unit) * 2) 10px;
  background-color: #141414;

  .case-study-third-cont {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: calc(var(--unit));

    .top {
      .heading {
        line-height: 110%;
      }
    }

    .middle {
      display: flex;
      width: 100%;
      justify-content: flex-start;
      align-items: flex-start;
      gap: calc(var(--unit));

      .left {
        width: 40%;
      }

      .btnlist {
        width: 60%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--unit);

        .case-btn {
          border: 1px solid rgba(117, 115, 115, 0.671);
          padding: calc(var(--unit) / 2) var(--unit);
          border-radius: calc(var(--unit) / 2);
          width: 100%;
        }
      }
    }
  }
}

// secion fifth

.fifth-parent {
  height: auto;
  width: 100%;
  padding: calc(var(--unit) * 3) 10px;

  .fifth-section-cont {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: calc(var(--unit) * 2);

    .left {
      width: 40%;
      height: auto;
      // background: url('../../public/assets/casestudy/img2.webp');
      border-radius: calc(var(--unit) * 2);
    }

    .right {
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: calc(var(--unit));

      .fifth-section-heading {
        line-height: 120%;
        text-align: justify;
        
      }

      .fifth-section-para {
        line-height: 130%;
        text-align: justify;
        text-align-last: left;
      }

      .list-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .listItem {
          display: flex;
          width: 100%;
          justify-content: flex-start;
          align-items: center;
          gap: calc(var(--unit/2));

          span {
            svg {
              font-size: calc(var(--unit) * 2);
              stroke: var(--accent1);
            }
          }
        }
      }
    }
  }
}

.top-img {
  background: url("/assets/home/casestudy/axonic1.webp");
}

.section-img {
  background: url("/assets/home/casestudy/trust.webp");
}

.section1-img {
  background: url("/assets/home/casestudy/trust.webp");
}

.top1-img {
  background: url("/assets/home/casestudy/axonic1.webp");
}

.section-imgt {
  background: url("/assets/home/casestudy/trust.webp");
}

.top-imgt {
  background: url("/assets/home/casestudy/t22.webp");
}
.hcc-top-img {
  background: url("/assets/home/casestudy/hcc_top.webp");
}
.onkar-top-img {
  background: url("/assets/home/casestudy/logistics.webp");
}
.akk-top-img{
  background: url("/assets/home/casestudy/akkka.webp");
}
.tij-top-img{
  background: url("/assets/home/casestudy/tij.webp");

}
.nvm-top-img{
  background: url("/assets/home/casestudy/nvm.jpg");
}
.denatl-top-img{
  background: url("/assets/home/casestudy/dental.jpg");

}

//fifth section

@media screen and (max-width: 1100px) {
  .fifth-section-cont {
    width: 100%;
    flex-direction: column;
    padding: 0px;

    .left {
      width: 100% !important;
      height: 500px !important;
    }

    .right {
      width: 100% !important;
      height: 50% !important;
    }
  }
}

@media screen and (max-width: 550px) {
  .fifth-section-cont {
    // flex-direction: column-reverse;
    .left {
      height: 350px !important;
    }

    .right {
      .fifth-section-heading {
        font-size: 25px !important;
        word-spacing: 0px !important;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .fifth-section-cont {
    .left {
      height: 350px !important;
    }

    .right {
      .fifth-section-heading {
        font-size: 24px !important;
        word-spacing: 0px !important;
      }
    }
  }
}

@media (max-width: 1000px) {
  .case-study-page {
    .case-study-page-cont {
      padding: calc(var(--unit)) calc(var(--unit) / 2) !important;
      gap: calc(var(--unit)) !important;
    }
  }

  .case-study-second {
    padding: calc(var(--unit) * 2) 10px !important;

    .case-study-second-cont {
      height: 400px !important;
      width: 100% !important;
    }
  }
}

@media (max-width: 700px) {
  .case-study-page {
    .case-study-page-cont {
      padding: calc(var(--unit)) calc(var(--unit) / 2) !important;
      gap: calc(var(--unit)) !important;
      justify-content: center !important;
      align-items: center !important;

      .case-heading {
        max-width: none !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
      }

      .case-para {
        width: 100% !important;
        max-width: none !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        text-align: justify !important;
      }
    }
  }

  .case-study-second {
    padding: calc(var(--unit)) var(--unit) !important;

    .case-study-second-cont {
      height: 350px !important;
    }
  }
}

@media (max-width: 550px) {
  .case-study-page {
    .case-study-page-cont {
      .case-heading {
        font-size: 26px !important;
        text-align: center !important;
      }

      .case-para {
        text-align: center !important;
      }
    }
  }

  .case-study-second {
    padding: calc(var(--unit)) var(--unit) !important;

    .case-study-second-cont {
      height: 350px !important;
    }
  }
}

//case study page

@media (max-width: 1000px) {
  .case-study-third {
    .case-study-third-cont {
      align-items: center !important;

      .top {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        width: 100% !important;
      }

      .middle {
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;

        .left {
          width: 90% !important;
          display: flex !important;
          align-items: center !important;
          justify-content: center !important;
          text-align-last: center !important;
        }

        .btnlist {
          width: 80% !important;

          .case-btn {
            width: 100% !important;
          }
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .case-study-third {
    .case-study-third-cont {
      .top {
      }

      .middle {
        .left {
          width: 100% !important;
        }

        .btnlist {
          width: 100% !important;
          flex-direction: column !important;
          align-items: center !important;
          justify-content: center !important;
          gap: calc(var(--unit) / 2) !important;

          .case-btn {
            width: 100% !important;
            padding: 30px 20px !important;
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            padding: 10px 20px !important;
          }
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .case-study-third {
    .case-study-third-cont {
      .top {
        .heading {
          font-size: 26px !important;
        }
      }

      .middle {
        .left {
          width: 100% !important;

          .middlepara {
            text-align: center !important;
          }
        }

        .btnlist {
          width: 100% !important;
          display: flex !important;
          align-items: center !important;
          justify-content: center !important;
          gap: calc(var(--unit)) !important;
          padding: 0px 25px !important;

          .case-btn {
            width: 100% !important;
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            text-align: center !important;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .fifth-section-heading {
    text-align: center !important;
    width: 100%;
   
  }
  .fifth-section-para {
    text-align: center !important;
      text-align-last: center !important;
  
  }
}
