.branches {
  width: 100%;
  height: auto;

  .branches-cont {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .branch {
      height: 100%;
      overflow: hidden;
      // background: linear-gradient(rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.733)),
      //   url("../../public/assets/New_folder/delhi.jpg");

      .overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.548);
        padding: calc(var(--unit) * 3) calc(var(--unit) * 2);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: calc(var(--unit));
        .country {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: calc(var(--unit) / 2);
          .flag {
            height: 30px;
            aspect-ratio: 1;
            border-radius: 50%;
          }
          p {
            font-weight: 700;
            font-size: 16px;
          }

          .heading {
            background: linear-gradient(
              to right,
              var(--accent1),
              var(--accent2)
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        .branchdesc {
          font-weight: 500;
          text-align: center;
        }
        .number {
          font-size: 16px;
          height: 20%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: calc(var(--unit) / 2);

          span {
            font-size: 18px;
            color: var(--white);
            line-height: 120%;
            font-weight: 400;
          }

          .icon {
            svg {
              font-size: 25px;
            }
          }
        }

        .address {
          font-size: 16px;
          height: 50%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          gap: calc(var(--unit) / 5);

          span {
            font-size: 18px;
            color: var(--white);
            line-height: 130%;
            text-align: center;
            font-weight: 500;
          }

          .icon {
            svg {
              font-size: 25px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .branches-cont {
    grid-template-columns: repeat(4, 1fr) !important;
    grid-template-rows: repeat(2, 1fr);
    .branch:nth-child(1) {
      grid-area: 1 / 1 / 2 / 3;

      .address-text {
        text-align: justify;
        text-align-last: center;
      }
    }
    .branch:nth-child(2) {
      grid-area: 1 / 3 / 2 / 5;

      .address-text {
        text-align: justify;
        text-align-last: center;
      }
    }
    .branch:nth-child(3) {
      grid-area: 2 / 2 / 3 / 4;

      .address-text {
        text-align: justify;
        text-align-last: center;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .branches-cont {
    display: flex !important;
    flex-direction: column !important;

    .branch {
      width: 100% !important;
    }
  }
}
