.service-top-section {
    height: 500px;
    margin-top: 30px;
    position: relative;
    padding: 0px 10px;

    .service-top-cont {
        height: 100%;
        border-radius: var(--unit);
        background-image: url("../../public/assets/dgmarketing.jpg");
        z-index: 2;
    }
}

@media only screen and (max-width:1200px) {
    .service-top-section {
        height: 500px;
        padding: 0px 20px;

        .service-top-cont {
            width: 90%;
        }
    }

    .service-bottom-section {
        margin-top: -150px;
    }
}

@media only screen and (max-width:500px) {
    .service-top-section {
        .service-top-cont {
            width: 100%;
        }
    }

    .service-bottom-section {
        margin-top: -150px;
    }
}

// service-bottom-section-----------
.service-bottom-section {
    margin-top: -200px;
    padding: 280px 10px 50px 10px;
    background-image: url("../../public/assets/img/background-footer.jpg");

    .service-bottom-cont {
        display: flex;
        // flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: var(--unit);

        .service-bottom-card {
            width: 340px;
            display: flex;
            flex-direction: column;
            gap: var(--unit);
            align-items: center;
            text-align: center;

            .card-img-box {
                background: url('../../public/assets/sevice3/card-img.jpg');
                height: 110px;
                width: 100px;
            }

            .service-card-content {
                display: flex;
                flex-direction: column;
                gap: var(--unit);

                .service-card-title {
                    font-size: 24px;
                    line-height: 120%;
                }
            }
        }
    }

    .mySwiper {
        height: 100%;
        width: 100%;
        margin: auto;
    }

 
    .swiper-button-prev,
    .swiper-button-next {
        background: rgba(0, 0, 0, 0.815);
        color: white;
        border-radius: 50%;
        padding: 10px;
        width: 35px;
        height: 35px;


        &::after {
            font-size: 14px;
            font-weight: 700;
        }
    }

    .slide-card {
        // margin: auto;
        display: flex;
        width: 350px;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;

        .slide-card-img1 {
            // background: url('../../public/assets/sevice3/card-img.jpg');
            height: 110px;
            width: 100px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .slide-heading {
            font-size: 22px;
            line-height: 120%;
            text-align: center;
        }

        p {
            text-align: justify;
        }
    }




}