.home-parent {
  height: 100vh;
  padding-top: 80px;

  .home-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 10px;
    gap: calc(var(--unit));
    .left {
      width: 50%;
      gap: calc(var(--unit) * 2 - 10px);
      display: flex;
      flex-direction: column;
      h1 {
        font-weight: 700;
      }
      .desc {
        text-align: left;
      }
    }
    .right {
      width: 50%;
   
    //   transform: translateY(100%);
    //   opacity: 0;
    //   transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    //   transition-delay: 1s;
    //   &.animate {
    //     transform: translateY(0);
    //     opacity: 1;
    //   }
    .img-box{
        width:100%;
        height:500px;
        // aspect-ratio: 1;
        background: url("../../public/assets/home/hcc.jpg");
        background-repeat: no-repeat;
        border-radius: 10px;
    }
    }
  }
}
@media only screen and (max-width: 1050px) {
  .home-parent {
    flex-wrap: wrap;
    height: auto !important;
    .home-cont {
      height: auto !important;
      padding: 0px 10px;
      flex-direction: column-reverse;
      gap:calc(var(--unit) *2);

      .left {
        width: 100% !important;
      }
      .right {
        width: 100% !important;
        
       
       
        .img-box{
            height: 500px;
            border-radius: calc(var(--unit));
            padding: 0px 20px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
      }
    }
  }
}
@media only screen and (max-width: 700px) {
  .home-parent {
    flex-wrap: wrap;
    .home-cont {
      height: auto !important;
      padding: 50px 10px;
      flex-direction: column-reverse;
      .left {
        width: 100% !important;
        gap: calc(var(--unit) / 2);
        align-items: center;

        .title {
          font-size: 40px;
          font-weight: 600;
          text-align: center;
        }
        .desc {
          text-align: center;
        }
      }
      .right {
       
       .img-box{
        width: 100% !important;
       background-size: cover;
       height:350px;
    }
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .home-parent {
    .home-cont {
      .left {
        align-items: center;
        .title {
          font-size: 30px;
          text-align: center;
        }
      }
      .right {
        .box {
        }
      }
    }
  }
}
